@model WebApp3.ViewModels.CreateTagViewModel

@{
    Layout = null;
}


        <form asp-action="CreateTag" id="createtag-content" onsubmit="return jQueryAjaxPost(this, 'Отлично', 'Вы создали метку!', 'success')">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Название метки</label>
                <input asp-for="TagTitle" class="form-control" />
                <span asp-validation-for="TagTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <textarea asp-for="TagDescription" class="form-control" style="height: 150px"></textarea>
                <span asp-validation-for="TagDescription" class="text-danger"></span>
            </div>
            <div class="form-group delete">
                <input onclick="closePopUp(this)" class="btn btn-danger" value="Назад" />
                <input type="submit" value="Создать" class="btn btn-danger" />
            </div>
        </form>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    label{
        color: #231954;
    }
    .delete{
        display: flex;
        padding: 10px;
    }
    input.btn{
        margin: 10px;
        }
</style>