@model WebApp3.ViewModels.FanficEditViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" onsubmit="return jQueryAjaxPost(this, 'Отлично','Содержимое изменено!','success')">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Название фанфика</label>
                <input asp-for="NameFanfic" class="form-control" />
                <span asp-validation-for="NameFanfic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>  
            <div class="form-group select">
                <select asp-for="SelectedTags" asp-items="Model.Tags" class="mul-select" multiple>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" asp-route-id="@Model.FanficId" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $(".mul-select").select2({
            placeholder: "Выберите метки",
            tags: true,
            tokenSeparators: ['/', ',', ',', " "]

        });
    });
</script>
<style>
    body{
        color: black !important;
    }
    .select {
        position: relative;
    }
    div.form-group.select:after{
        border-color: black transparent transparent transparent;
    }
    .select2{
        
        width: 100%;
        
    }
    span.select2.select2-container.select2-container--default {
        width: 100% !important;
  
    }
    .select2-container--default .select2-selection--multiple {
        padding: 0rem .25rem .1rem .75rem !important;
        background-color: transparent !important;
    }
  
    
    option{

        color: #231954;

    }
    .select select {
        display: block;
        width: 100%; /* от ширины блока div */
        padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
        background: none; /* убираем фон */
        border: 1px solid #ccc; /* рамка */
        border-radius: 3px;/* скругление полей формы */
        -webkit-appearance: none;/* Chrome */
        -moz-appearance: none;/* Firefox */
        font-family: inherit;/* наследует от родителя */
        font-size: 1rem;
        color: black;
    }
    .select:after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: #000 transparent transparent transparent;
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: 1rem;
        z-index: 1;
        margin-top: -3px;

    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
