@model WebApp3.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Создание нового пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row reset-password">
    <div class="col-md-6">
<form method="post" asp-action="ResetPassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Email" type="hidden"/>
    <input asp-for="Code" type="hidden" />
    <div class="form-group">
        <label>Введите новый пароль</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Повторите пароль</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger">Сбросить пароль</button>
</form>
    </div>
</div>

<style>
    div.reset-password{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    label{
        color: white;
    }
</style>